@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --dark: #121212;
    --light: #F7F7F7;
}

body > #__next{
    min-height: 100vh;
    background-color: var(--light);
    color: var(--dark);
    font-family: var(--poppins-font);
}